/**
 * \file styles.css
 * \brief application styles
 */

.hidden {
    display: none;
}

.error {
    font-size: 2em;
    color:red;
}

.info {
    font-size: 2em;
    color:green;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
	font-size: 100.01%;
}

#icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#icons_ul > li {
	float:left;
    padding: 5px;
}
body {
    background:  snow;
    width: 80%;
    margin: 0 auto;
}

.menubar {
    background-color: #053a5c;
    color:white;
    font-size:14px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(211, 0, 0, 0.23),0 3px 10px rgba(215, 163, 163, 0.16);
    top: 10px;
    position: relative;
}

.menuitem {
    display: inline-block;
    border-left: 4px;
    padding-top: 15px;
     padding-left: 13px;
    padding-right: 13px;
    text-align: center;
    border-left: 1px solid #325678;
    font-family: 'Open Sans', Arial, sans-serif;
}
.menubar ul li:first-of-type {
    border-left:0;
}

.menubar ul:first-child {
    border-left: inherit;
}
.menubar .menuitem a
{
    display: inline-block;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;

    font-size: 12px;
    height: 30px;
}

.menuitem-clicked{
    color: #053a5c;
    background: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 2px;
}

.footer {
    bottom: -10%;
    position: relative;
    background-color: greenyellow;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #445566;
}




body {
    background-color: #fdfbff;

}
.center {
    text-align: center;
    padding: 1%;
    background: #FAF2FF;
    width: 100%;
    position: relative;
    top: 10px;
    left: 15px;
}
.game-checker-board {
}
#watchers {
    background-color: #105cb6;
}
.player-profile {
    width: 80%;
    margin: 0 auto;
    background-color: #009998;
}
.game-thumbnail {
    padding: 10px;
    margin: 10px;
    border: 1px royalblue solid;
    display: inline-block;
}
















