<div class="row center">
<form role="form">
<div class="form-group">
      <label for="input-name">usernmae</label>
        <input type="text" class="form-control" id="input-name" placeholder="your username" />
</div>
<div class="form-group">
        <label  for="input-pass">password</label>
        <input type="text" class="form-control" id="input-pass" placeholder="your password" />
</div>
    <button type="submit" class="btn btn-default">Sign in</button>
    <button type="reset" class="btn btn-default">Clear</button>
</form>
</div>