<!--TODO player view -->
<div >
    <div class="row">
       <div class="col-xs-3">
           <h3>edit your profile</h3>
           <p>not available right now</p>
       </div>
        <div class="col-xs-3">
            <img ng-src="{{player.avatarUrl}}" alt="player-image" width="128" height="128">
        </div>
        <div class="col-xs-3">
            <h2>player name</h2>
            <h3>{{player.name}}</h3>
            <br/>
        </div>
        <div class="col-xs-3">
            <h2>something here</h2>
        </div>
    </div>


</div>