<form role="form">
    <div class="form-group">
        <label for="name">username</label>
        <input type="text" ng-model="newplayer.name" required class="form-control" id="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" ng-model="newplayer.password" class="form-control" id="password"
               placeholder="Enter password" required>
    </div>

    <div class="form-group">
        <label for="password-confirm">confirm password</label>
        <input type="password" ng-model="newplayer.confirmPassword" class="form-control" id="password-confirm"
               placeholder="Enter password once more" required>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" ng-model="newplayer.email" class="form-control" id="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
        <label for="avatar-url">avatar url (optional)</label>
        <input type="url" class="form-control" ng-model="newplayer.avatarUrl" id="avatar-url"
               placeholder="url for you avatar" required>
    </div>

    <button type="submit" class="btn btn-default" ng-click="addPlayer()">Submit</button>
    <button type="reset" class="btn btn-default">Clear</button>
    <div class="alert alert-danger" role="alert" ng-show="showError" >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <div class="error" ng-repeat="errorMessage in errorMessages">
        <span class="sr-only" >Error:</span>
        {{errorMessage}};

        </div>
    </div>
</form>