<section>
    <h1>How to play</h1>
    <dl>
        <dt>Game</dt>
        <dd>two players, each of them controls one pawn.</dd>
        <dt>Move</dt>
        <dd>move between two objects and stop therer</dd>
        <dt>rules</dt>
        <dd>checkout terms on wikipedia</dd>
        <dt>fantasy</dt>
        <dd>no fantasy at all</dd>
    </dl>
</section>

<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>